@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Github!<a href="https://docs.microsoft.com/aspnet/core">Azure web app from Github SCM.</a>.</p>
</div>
