@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Gelic!<a href="https://docs.microsoft.com/aspnet/core">Gulatin mo ang kapatid mo. Hingiin mo ang barcode ng Free Starbucks.</a>.</p>
</div>
